.deleteBtn{
    width: 90px;
    height: 30px;
    display: block;
    margin-top:  auto;
    margin-bottom: auto;
   
    border-radius: 4px;
    border: 1px solid transparent;
    background-color:#66FCF1;

    font-size: 14px;
     font-weight: 600;
}
.deleteBtn:focus{
  background-color: #C5C6C7;
}
.deleteBtn:hover {
    background-color: #C5C6C7;
}